/*
 * SASS for OWS Wallet applet plugin client.
 */

body {
  background: black;
}

.ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;	
}
 
// popupService dialog style.
.popup {
	.button-primary.button-clear {
		color: $v-popup-primary-button-color !important;
	}

	.button-secondary.button-clear {
		color: $v-popup-secondary-button-color !important;
	}
}
