/*
 * SASS variables for OWS Wallet applet plugin client.
 */

$v-popup-primary-button-color:         #00afff !default;
$v-popup-secondary-button-color:       #444444 !default;

$ios-transition-duration:              200ms !default;
